.select-mini {
	font-size: 14px;
	height: 28px;
	width: 150px;
	margin-bottom: 0px;
}
#header
{
	background-color: rgb(106, 127, 16);
}
#curpage
{
	display: inline;
}
table.tablesorter {
	border: 1px solid #3D3D3D;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
}
table.tablesorter td {
}
table.tablesorter .even {
}
table.tablesorter .odd {
}
table.tablesorter .tablesorter-header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .tablesorter-headerAsc {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .tablesorter-headerDesc {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}

/*
table{ table-layout:fixed; }

table td 
{
  table-layout:fixed;
  overflow:hidden;
  word-wrap:break-word;
  white-space:nowrap; 
}
*/