{% extends 'base.html' %}
{% load url from future %} {# Prior to Django 1.5 #}
{% block page_title %}DAC Home{% endblock %}

{% block content %}
<p>Welcome, {{ user.username }}!</p>
<ul class="nav nav-tabs">
	<li><a href="{% url 'dac.uploader.views.index' %}">Home</a></li>
	{% if dac_user.is_power %}
	<li><a href="{% url 'dac.uploader.views.manage_file' %}">Manage Files</a></li>
	{% endif %}
	<li class="active"><a href="{% url 'dac.uploader.views.admin' %}">Administration</a></li>
	<li><a href="{% url 'djangocas.views.logout' %}">Log out</a></li>
</ul>
<!-- endnavbar -->
<!-- userSearchBox -->
<div id="usersearchbox">
	<form method="get">
		<select name="usersearchcat" class="span2">
			<option {{ u_selected }} value="u">Username</option>
			<option {{ n_selected }} value="n">Name</option>
			<option {{ r_selected }} value="r">Role</option>
		</select>
		<div class="input-append">
			<input name="usersearchtext" type="text" class="span3"/>
			<button type="submit" class="btn btn-primary"> Go </button>
		</div>
	</form>
</div>

<!-- enduserSearchBox -->
<!-- userTable -->
<form method="POST" action="{% url 'dac.uploader.views.admin_edit_positions' %}">{% csrf_token %}
	<table id="userTable" class="tablesorter table table-condensed table-bordered">
		<thead><tr>
			<th style="width: 3%">ID</th>
			<th style="width: 20%">First Name</th>
			<th style="width: 20%">Last Name</th>
			<th style="width: 20%">Username</th>
			<th style="width: 30%">Role</th>
		</tr></thead>
		<tbody>
			{% for userinfo in user_list %}
			<tr>
				<td>{{ userinfo.user.id }}</td>
				<td>{{ userinfo.user.first_name }}</td>
				<td>{{ userinfo.user.last_name }}</td>
				<td>{{ userinfo.user.username }}</td>
				<td>
					<select name={{ userinfo.name_positionselect }} class="select select-mini position">
						<option {{ userinfo.f_selected }} value="f">Faculty</option>
						<option {{ userinfo.s_selected }} value="s">Staff</option>
						<option {{ userinfo.u_selected }} value="u">Student</option>
					</select>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	&nbsp;<button id="savePosition" class="btn btn-primary pull-right hide" type="submit" >Save changes</button>
	<button id="resetPosition" class="btn btn-info pull-right hide">Cancel</button>

</form>

<!-- enduserTable -->
<!-- createuser -->
{% include "uploader/create_user.html" %}
<!-- endcreateuser -->
{% endblock %} <!-- endcontent -->

{% block last %}
<script type="text/javascript" src="{{ STATIC_URL }}js/create_user.js"></script>
<script type="text/javascript">
// Mark changed roles
function MarkAsChanged() {
	$(this).addClass("changed");
	$("#savePosition").removeClass("hide");
	$("#resetPosition").removeClass("hide");
}
$(".position").change(MarkAsChanged);
// Disable unchanged roles to submit only changed roles.
$("#savePosition").click(function(){
	$(".position:not(.changed)").attr("disabled", "disabled");
});
$("#resetPosition").click(function(){
	location.reload(true); // TODO: reload only roles
	return false;
});
$(document).ready(function () {
	init_create_user();
});
/*
$(document).ready(function () {
	$("#userTable")
	.tablesorter()
	.tablesorterPager({
		container: $("#pager"),
		positionFixed: false
	})
	.trigger('sorton', [
	[
	[5, 0],
	]
	]); //ascending role
});
*/
</script>

{% endblock %} <!-- endlast -->
