{% load url from future %} {# Prior to Django 1.5 #}

<table id="fileTable" class="tablesorter table table-condensed">
<thead>
	<tr>
		<th>Title</th>
		<th>Type</th>
		<th>Modified</th>
		<th>Owner</th>
		<th>Tags</th>
	</tr>
</thead>
<tbody>
{% for fileinfo in file_list %}
	<tr>
		{# <td>{{ fileinfo.title }}</td> #}
		<td><a href="{% url 'dac.uploader.views.send_one_file' fileinfo.aid %}">{{ fileinfo.title }}</a></td>
		<td>{{ fileinfo.nice_type }}</td>
		<td>{{ fileinfo.updated }}</td>
		<td>{{ fileinfo.uid }}</td>
		<td>{{ fileinfo.str_keywords }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% spaceless %}
<div class="pagination pagination-right pagination-small">
    <ul>
    {% if file_list.has_previous %}
		{% if searchtext %}
        	<li><a href="{% url 'dac.uploader.views.index' perpage file_list.previous_page_number %}?searchcat={{ searchcat }}&searchtext={{ searchtext }}" class="page">&lsaquo;&lsaquo;</a></li>
		{% else %}
        	<li><a href="{% url 'dac.uploader.views.index' perpage file_list.previous_page_number %}" class="prev">&lsaquo;&lsaquo;</a></li>
		{% endif %}
    {% else %}
        <li class="disabled prev"><a href="#">&lsaquo;&lsaquo;</a></li>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page file_list.number %}
                <li class="current page active"><a href="#">{{ page }}</a></li>
            {% else %}
				{% if searchtext %}
                	<li><a href="{% url 'dac.uploader.views.index' perpage page %}?searchcat={{ searchcat }}&searchtext={{ searchtext }}" class="page">{{ page }}</a></li>
				{% else %}
					<li><a href="{% url 'dac.uploader.views.index' perpage page %}" class="page">{{ page }}</a></li>
				{% endif %}
            {% endifequal %}
        {% else %}
            asdf
        {% endif %}
    {% endfor %}
    {% if file_list.has_next %}
		{% if searchtext %}
    		<li><a href="{% url 'dac.uploader.views.index' perpage file_list.next_page_number %}?searchcat={{ searchcat }}&searchtext={{ searchtext }}" class="page">&rsaquo;&rsaquo;</a></li>
		{% else %}
			<li><a href="{% url 'dac.uploader.views.index' perpage file_list.next_page_number %}" class="next">&rsaquo;&rsaquo;</a></li>
		{% endif %}
    {% else %}
        <li class="disabled next"><a href="#">&rsaquo;&rsaquo;</a></li>
    {% endif %}
    </ul>
</div>
{% endspaceless %}
<form enctype="multipart/form-data" method="post" action="{% url 'dac.uploader.views.index' perpage file_list.number %}">
    {% csrf_token %}
     <table>
		 {{form.as_table}}
     </table>
     <input type="submit" value="Upload" id="Save"/>
</form>

