{% load url from future %} {# Prior to Django 1.5 #}
<div id="pager" class="pull-right" >
	<img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first"/>
	<img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev"/>
	<div id="curpage"></div>
	<img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next"/>
	<img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last"/>
	Page size
	<select class="pagesize span1" title="Select page size">
		<option selected="selected" value="10">10</option>
		<option value="20">20</option>
		<option value="50">50</option>
	</select>
</div>

<table id="fileTable" class="tablesorter table table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<th style="width: 30%">Title</th>
			<th style="width: 10%">Type</th>
			<th style="width: 20%">Modified</th>
			<th style="width: 10%">Owner</th>
			<th style="width: 30%">Tags</th>
			<th style="display:none;">aid</th>
		</tr>
	</thead>
	<tbody>
		{% for fileinfo in file_list %}
		<tr>
			<td><a href="{% url 'dac.uploader.views.send_one_file' fileinfo.aid %}">{{ fileinfo.title }}</a></td>
			<td>{{ fileinfo.nice_type }}</td>
			<td>{{ fileinfo.updated }}</td>
			<td>{{ fileinfo.uid }}</td>
			<td class="dynacloud">{{ fileinfo.str_keywords }}</td>
			<td style="display:none;">{{ fileinfo.aid }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>