<table id="fileTable" class="tablesorter table table-hover">
<thead>
	<tr>
		<td><strong>Title</strong></td>
		<td><strong>Type</strong></td>
		<td><strong>Modified</strong></td>
		<td><strong>Owner</strong></td>
		<td><strong>Tags</strong></td>
	</tr>
</thead>
<tbody>
{% for fileinfo in file_list %}
	<tr>
		{# <td>{{ fileinfo.title }}</td> #}
		<td><p><a href="{% url 'dac.uploader.views.send_one_file' fileinfo.aid %}">{{ fileinfo.title }}</a></p></td>
		<td>{{ fileinfo.nice_type }}</td>
		<td>{{ fileinfo.updated }}</td>
		<td>{{ fileinfo.uid }}</td>
		<td>{{ fileinfo.str_keywords }}</td>
	</tr>
{% endfor %}
</tbody>
