{% extends 'base.html' %}
{% load url from future %} {# Prior to Django 1.5 #}
{% block page_title %}DAC Home{% endblock %}

{% block header_title %}DAC{% endblock %}

{% block content %}
	<p>Welcome, {{ user.username }}!</p>
	<p><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Log out</a></p>
	<p><a href="{% url 'dac.uploader.views.manage_file' %}">Manage Files</a></p>

	{% include "uploader/searchbox.html" %}
	{% include "uploader/file_table.html" %}
	{% include "uploader/upload_file.html" %}

{% endblock %}

{% block last %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#fileTable")
			.tablesorter()
		    .tablesorterPager({container: $("#pager"), positionFixed: false});
			$("#fileUpload").accordion({ collapsible: true, header: "h5", active: 2});
		});
	</script>
	{% comment %}
		tablesorterPager.defaults = {
			size: 10,
			offset: 0,
			page: 0,
			totalRows: 0,
			totalPages: 0,
			container: null,
			cssNext: '.next',
			cssPrev: '.prev',
			cssFirst: '.first',
			cssLast: '.last',
			cssPageDisplay: '.pagedisplay',
			cssPageSize: '.pagesize',
			seperator: "/",
			positionFixed: true,
			appender: this.appender
		};
	{% endcomment %}

{% endblock %}
