{% extends 'base.html' %}
{% load url from future %} {# Prior to Django 1.5 #}
{% block page_title %}DAC Home{% endblock %}

{% block header_title %}DAC{% endblock %}

{% block content %}
	<p>Welcome, {{ user.username }}!</p>
	<p><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Log out</a></p>
	<p><a href="{% url 'dac.uploader.views.manage_file' %}">Manage Files</a></p>

	{% include "uploader/searchbox.html" %}
	{% include "uploader/file_table.html" %}
	{% include "uploader/upload_file.html" %}
{% endblock %}

{% block last %}
	<script type="text/javascript">
	$.ajaxSetup({
	    beforeSend: function (xhr, settings) {
	        function getCookie(name) {
	            var cookieValue = null;
	            if (document.cookie && document.cookie != '') {
	                var cookies = document.cookie.split(';');
	                for (var i = 0; i < cookies.length; i++) {
	                    var cookie = jQuery.trim(cookies[i]);
	                    // Does this cookie string begin with the name we want?
	                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                        break;
	                    }
	                }
	            }
	            return cookieValue;
	        }
	        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	            // Only send the token to relative URLs i.e. locally.
	            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	        }
	    }
	});
	$(document).ready(function () {
	    $("#fileTable")
	        .tablesorter()
	        .tablesorterPager({
	        container: $("#pager"),
	        positionFixed: false
	    })
	        .trigger('sorton', [
	        [
	            [5, 1],
	        ]
	    ]); //descending asset id


	    $("#fileUpload").accordion({
	        collapsible: true,
	        header: "h5",
	        active: false,
	        animate: 120
	    });
	    //----
	    // enable upload button
	    $("input:file").change(function () {
	        if ($(this).val()) {
	            $("input:submit").attr('disabled', false);
	        }
	    });
	    //----
	    var options = {
	        //target:        '#message',    // target element(s) to be updated with server response 
	        beforeSubmit: showRequest, // pre-submit callback 
	        success: showResponse, // post-submit callback 
	        dataType: 'json' // 'xml', 'script', or 'json' (expected server response type) 
	        //url:       url         // override for form's 'action' attribute 
	        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
	        //clearForm: true        // clear all form fields after successful submit 
	        //resetForm: true        // reset the form after successful submit 

	        // $.ajax options can be used here too, for example: 
	        //timeout:   3000 
	    };
	    //$("#uploadForm").ajaxForm(options); // either using ajaxForm or ajaxSubmit, not both
	    $("#uploadForm").submit(function () {
	        $(this).ajaxSubmit(options);
	        return false;
	    });
	});

	 // pre-submit callback 

	function showRequest(formData, jqForm, options) {
	    // formData is an array; here we use $.param to convert it to a string to display it 
	    // but the form plugin does this for you automatically when it submits the data 
	    var queryString = $.param(formData);

	    // jqForm is a jQuery object encapsulating the form element.  To access the 
	    // DOM element for the form do this: 
	    // var formElement = jqForm[0]; 

	    //alert('About to submit: \n\n' + queryString); 

	    // do validation
	    return true;
	}

	 // post-submit callback 

	function showResponse(json_obj, statusText, xhr, $form) {
	    //alert('status: ' + statusText + '\n\nresponseText: \n' + json_obj.is_success);
	    if (!json_obj.is_success) {
	        // ask to overwrite
	        document.getElementById("message").innerHTML = "Existed file!";
	        $(function () {
	            $("#dialog-confirm").dialog({
	                resizable: false,
	                height: 180,
	                model: true,
	                buttons: {
	                    "Overwrite": function () {
	                        $.post("{% url 'dac.uploader.views.confirm_upload_file' %}", {
	                            overwrite: true,
	                            aid: json_obj.aid
	                        });
	                        $(this).dialog("close");
	                    },
	                    Cancel: function () {
	                        $.post("{% url 'dac.uploader.views.confirm_upload_file' %}", {
	                            overwrite: false,
	                            aid: json_obj.aid
	                        });
	                        $(this).dialog("close");
	                    }
	                }
	            });
	        });
	    } else {
	        $.post("{% url 'dac.uploader.views.confirm_upload_file' %}", {
	            overwrite: true,
	            aid: json_obj.aid
	        });
	        // display success message; add row to table
	        document.getElementById("message").innerHTML = "File uploaded successfully!";

	        var row = json_obj.newfile; //,	$row = $(row), resort = true;
	        $('#fileTable')
	            .find('tbody').prepend(row)
	        //.trigger('addRows', [row, resort]);
	        //.trigger('sorton',[ [[5,1],] ]); //descending asset id
	    }
	}
	</script>
	{% comment %}
		tablesorterPager.defaults = {
			size: 10,
			offset: 0,
			page: 0,
			totalRows: 0,
			totalPages: 0,
			container: null,
			cssNext: '.next',
			cssPrev: '.prev',
			cssFirst: '.first',
			cssLast: '.last',
			cssPageDisplay: '.pagedisplay',
			cssPageSize: '.pagesize',
			seperator: "/",
			positionFixed: true,
			appender: this.appender
		};
	{% endcomment %}

{% endblock %}
