{% extends 'base.html' %}
{% load url from future %} {# Prior to Django 1.5 #}
{% block page_title %}DAC Home{% endblock %}

{% block header_title %}DAC{% endblock %}

{% block content %}
<p>Welcome, {{ user.username }}!</p>
<p><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Log out</a></p>
<p><a href="{% url 'dac.uploader.views.manage_file' %}">Manage Files</a></p>

{% include "uploader/searchbox.html" %}
{% include "uploader/files_table.html" %}
{% include "uploader/upload_file.html" %}

{% endblock %}