{% extends "base.html" %}
{% load url from future %} {# Prior to Django 1.5 #}
{% block page_title %}DAC File Manager{% endblock %}


{% block content %}

<p>Welcome, {{ user.username }}!</p>
<ul class="nav nav-tabs">
	<li><a href="{% url 'dac.uploader.views.index' %}">Home</a></li>
	<li class="active">
		<a href="#">Manage Files</a>
	</li>
	<li><a href="{% url 'djangocas.views.logout' %}">Log out</a></li>
</ul>
{% include "uploader/oldsearchbox.html" %}
<div class="alert alert-success"><strong>Hint:</strong> click on any title or tag to edit. Press enter to save.</div>
{% include "uploader/manage_file_table.html" %}
<div class="alert alert-error" id="msg" ></div>

{% endblock %} <!-- endcontent -->

{% block last %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	init_upload();
	$('#msg').hide();
	$('#msg').html("Existed title. Please choose another one.");
	var edit_tag_options = {
		tooltip: 'edit',
		height: '14',
		width: '140',
		style: 'display: inline',
		placeholder: '...', 
		//submit: 'ok',
	};
	$('.edit_tag').editable("edit_tag/", edit_tag_options);
	
	var edit_title_options = {
		tootlip: 'edit title',
		height: '14',
		width: '200',
		style: 'display: inline',
		//submit: 'ok',
	}
	$('.edit_title').editable(function(value, settings) {
		// do validation: check if title is existed
		$.post("edit_title/", 
		       {new_title: value, id: this.id},
		       function(result) { 
				   if (result.saved) {
				       $('#' + result.id).html(result.new_title);
				       $('#msg').hide();
				   } else {
				       $('#' + result.id).html(result.old_title);
				       $('#msg').show();
				   }
			   });
		return "saving..."; //temporary when waiting for the validation
	}, edit_title_options);
});
</script>
{% endblock %} <!-- endlast -->
