{% load url from future %} {# Prior to Django 1.5 #}

<table id="fileTable" class="table table-hover table-condensed">
<thead>
	<tr>
		<th style="width: 3%"></th>
		<th style="width: 30%">Title</th>
		<th style="width: 10%">Type</th>
		<th style="width: 15%">Modified</th>
		<th style="width: 10%">Owner</th>
		<th style="width: 25%">Tags</th>
		<th style="width: 5%"></th>
	</tr>
</thead>
<tbody>
<form method="POST" action="{% url 'dac.uploader.views.delete_selected_files' %}">{% csrf_token %}
{% for fileinfo in file_list %}
	<tr>
		<td><input type="checkbox" name="{{ fileinfo.aid }}"></td>
		<td>
			<div class="edit_title" id="{{ fileinfo.get_edit_title_id }}">{{ fileinfo.title }}</div>
		</td>
		<td>{{ fileinfo.nice_type }}</td>
		<td>{{ fileinfo.updated }}</td>
		<td>{{ fileinfo.uid }}</td>
		<td>
			<div class="edit_tag" id="{{ fileinfo.get_edit_tag_id }}">{{ fileinfo.str_keywords }}</div>
		</td>
		<td><a href="{% url 'dac.uploader.views.delete_one_file' fileinfo.aid %}" class="btn btn-mini btn-danger">remove</a><td>
	</tr>
{% endfor %}
<button class="btn btn-small" type="submit" >Remove selected</button>
</form>
</tbody>
</table>