<div id="searchbox">
	<form method="get">
		<select id="id_searchcat" name="searchcat" class="span2">
			<option {{ ti_selected }} value="ti">Title</option>
			<option {{ ty_selected }} value="ty">Type</option>
			<option {{ us_selected }} value="us">Owner</option>
			<option {{ ta_selected }} value="ta">Tag</option>
		</select>
		<div class="input-append">
			<input id="id_searchtext" name="searchtext" type="text" class="span3"/>
			<button type="submit" class="btn btn-primary"> Go </button>
		</div>
	</form>
</div>
