{% load url from future %} {# Prior to Django 1.5 #}
<div id="fileUpload">
	<h5>upload file</h5>
	<form id="uploadForm" enctype="multipart/form-data" method="post" action="{% url 'dac.uploader.views.upload_file' %}">
		{% csrf_token %}
		<table>
			{# form.as_table #}
			<tr><th><label for="id_title">Title:</label></th><td><input id="id_title" type="text" name="title" maxlength="30" /></td></tr>
			<tr><th><label for="id_file">File:</label></th><td><input type="file" name="file" id="id_file" /></td></tr>
			<tr><th><label for="id_tags">Tags:</label></th><td><input id="id_tags" type="text" name="tags" maxlength="30" /></td></tr>
		</table>
		<input type="submit" value="Upload" id="Save" disabled/>
		<p id="message">{{ message }}</p>
	</form>
</div>
<div id="dialog-confirm" title="Existed File!" style="display:none;">
	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0; font:10px"></span>
		The file is already existed. Do you want to overwrite?</p>
</div>